<!DOCTYPE html>
<html>
  <body>
    <h1>Benchmark n=<%= data.n %></h1>
    <ul>
      <li>Bubble: <%= data.bubble.toFixed(2) %> ms</li>
      <li>Selection: <%= data.selection.toFixed(2) %> ms</li>
      <li>Quick: <%= data.quick.toFixed(2) %> ms</li>
    </ul>
    <a href="/algoritmos">Voltar</a>
  </body>
</html>
