<h1>Novo Produto</h1>

<form action="/estoque/novo" method="POST">
  <label>Código</label>
  <input name="cod_produto" required /><br />

  <label>Nome</label>
  <input name="nome_produto" required /><br />

  <label>Categoria</label>
  <input name="categoria" required /><br />

  <label>Subcategoria</label>
  <input name="subcategoria" /><br />

  <label>Preço</label>
  <input name="preco_real" required /><br />

  <label>Disponibilidade</label>
  <input name="disponibilidade" /><br />

  <label>Estoque</label>
  <input name="estoque" required /><br />

  <button type="submit">Salvar</button>
</form>
