<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Relatórios</title>
  </head>
  <body>
    <a href="/corporativo">← Voltar</a>
    <h1>Relatórios / Logs</h1>
    <table style="width: 100%; border-collapse: collapse">
      <thead style="background: #f3f4f6">
        <tr>
          <th>Ação</th>
          <th>Usuário</th>
          <th>Produto</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <% logs.forEach(l => { %>
        <tr>
          <td><%= l.operacao %></td>
          <td><%= l.usuario %></td>
          <td><%= l.produto_id %></td>
          <td><%= l.data %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
